:root {
    --color1: #f0ede8;
    --color2: white;
    --color3: black;
    --color4: #ea943e;
    --color5: #8c2f0b;
    --color6: #f4f599;
    --color7: #d9c2a3;
    --color8: #3b5998;
    --color9: #6dbf7d;
    --color10: #101e01;
}